<div id="<%= dom_id product %>">
  <p>
    <strong>Product type:</strong>
    <%= product.product_type %>
  </p>

  <p>
    <strong>Storage:</strong>
    <%= product.storage %>
  </p>

  <p>
    <strong>Expire date:</strong>
    <%= product.expire_date %>
  </p>

</div>
